html, body{
  height:100%;
}

#song1{
  font-size: 30px;
}
#song2{
  font-size: 30px;
}

.right{
  width: 750px;
  position: relative;
  left: 700px;
  height: 100%;
}


#check_songs{
  font-size: 40px;
  color: black;
}


#item_songs{
  position: right;
}

#result_text{
  font: 50px;
}
