
{% extends "base.html" %}

{% block content %}
{{ block.super }}
  <div class="row">
    <div class="column left">

      <div class="padding_before_greeting">
        <p></p>
      </div>

      <div class="Greeting">
        <p>Hello, user !</p>
      </div>

      <div class="padding_after_greeting">
        <p></p>
      </div>

      <div class="option">
        <p>Option:</p>
        <ul id="option_list">
          <li>Year    <input id="checkBox_year" type="checkbox"></li>
          <li>Genre    <input id="checkBox__genre" type="checkbox"></li>
          <li>Singer    <input id="checkBox_Singer" type="checkbox"></li>
        </ul>
      </div>

      <div class="playlists">
        <p>Playlist:</p>
        <ul id="playlist_list">
          <li>Playlist 1    <input id="checkBox_1" type="checkbox"></li>
        </ul>
      </div>

      <div class="submit_button">
        <input type="submit" value="Submit">
      </div>

    </div>

    <div class="column right">
      <h2 id="text_instruction">Please select: </h2>
      <h2 id="text_instruction1">options and playlists</h2>
      <h2 id="text_instruction2">and click submit button</h2>

      <h2  id="text_instruction3">to get started! </h2>
    </div>
  </div>



{% endblock content %}
