
{% extends "base.html" %}


{% block content %}
{{ block.super }}
<head>
  <meta charset="utf-8">
  <!-- <h1> This is the first HTML Page </h1> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/css/succ_login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

{% block row %}
  <div class="row">
    <div class="column left">

      <div class="padding_before_greeting">
        <p></p>
      </div>

      <div class="Greeting">
        <p>Hello, {{users_name}}!</p>
      </div>

      <div class="padding_after_greeting">
        <p></p>
      </div>
{%endblock%}
      <form action="{% url 'result'%}" method=POST>
        <div class="option">
          <p>Option:</p>
          <select name="select_criteria">
            <option value="year" name="year">Year</option>
            <option value="genre" name="genre">Genre</option>
            <option value="artist" name="artist">Artist</option>
          </select>
        </div>
        <div class="playlists">
          {% if playlist_names %}
            <p>You have {{ playlist_names|length }} playlists!</p>
            <p>Playlist:</p>
            <select name="playlist_selection">
              {% for item in playlist_names %}
                <option value="{{ item.name }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          {% else %}
            <p> You have no playlists to display!</p>
          {% endif %}
        </div>
        <div class="submit_button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>

    <div class="column right">
      <div class="column">
          <div class="row left1">
            <h6 id="text_succ">Please select an option and a playlist then press submit to auto-generate some playlists! </h6>
          </div>

          <hr>
          <div class="row right1">
            <h5 id="succ_option">option: </h5>
            <h5 id="succ_playlist">playlist: </h5>
          </div>
          <!---
          <div class="succ_submit">
            <input type="submit" value="Auto Generate">
          </div>
        -->
      </div>
    </div>

  </div>



{% endblock content %}
