{% extends "base.html" %}


{% block content %}
{{ block.super }}
<head>
  <meta charset="utf-8">
  <!-- <h1> This is the first HTML Page </h1> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/css/succ_login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

{% block row %}
<div class="row">

  <div class="column left">

    <div class="padding_before_greeting">
      <p></p>
    </div>

    <div class="Greeting">
      <p>Hello, user !</p>
    </div>

    <div class="padding_after_greeting">
      <p></p>
    </div>
{%endblock%}
    <div class="option">
      <p>Option:</p>
      <ul id="option_list">
        <li>Year    <input id="checkBox_year" type="checkbox"></li>
        <li>Genre    <input id="checkBox__genre" type="checkbox"></li>
        <li>Singer    <input id="checkBox_Singer" type="checkbox"></li>
      </ul>
    </div>

    <div class="playlists">
      <p>Playlist:</p>
      <ul id="playlist_list">
        <li>Playlist 1    <input id="checkBox_1" type="checkbox"></li>
      </ul>
    </div>

    <div class="submit_button">
      <input type="submit" value="Submit">
    </div>

  </div>

  <div class="column right">
    <div class="column">
        <div class="row left1">
          <h6 id="text_succ">Please select: </h6>
          <h6 id="text_succ1">options and playlists</h6>
          <h6 id="text_succ2">and click submit button</h6>

          <h6  id="text_succ3">to get started! </h6>
        </div>

        <hr>
        <div class="row right1">
          <h5 id="succ_option">option: </h5>
          <h5 id="succ_playlist">playlist: </h5>
        </div>
        <div class="succ_submit">
          <input type="submit" value="Auto Generate">
        </div>
    </div>
  </div>
</div>


{% endblock content %}
