{% load static-files }
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <h1> This is the first HTML Page </h1> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>


    <div class="grid-container">

      <div class="photo1">
        <img src="../static/img/logo.png" class="photo1">
      </div>

      <div class="main_logo">
        <p id="main_logo">Music Generation</p>
      </div>

    </div>

    
    <div class="row">
      <div class="column left">

        <div class="padding_before_greeting">
          <p></p>
        </div>

        <div class="Greeting">
          <p>Filler text for the base template</p>
        </div>

      </div>


    {% block content %}

    {% endblock content %}




  </body>
</html>
